{
  "openapi": "3.1.0",
  "info": {
    "title": "Google Maps Directions API",
    "version": "1.0.0",
    "description": "Returns walking/running directions between origin and destination using Google Maps"
  },
  "servers": [
    {
      "url": "https://maps.googleapis.com"
    }
  ],
  "paths": {
    "/maps/api/directions/json": {
      "get": {
        "operationId": "getDirections",
        "summary": "Get walking directions",
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "description": "Starting point for the route",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Ending point for the route",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Travel mode (e.g., walking)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["walking"]
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your Google Maps API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with route information"
          }
        }
      }
    }
  }
}
